.carousel__title {
  color: var(--orange);
  background-color: var(--white);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 1em 0 0.5em 0;
}

.swiper-pagination {
  position: initial;
  margin: 1em 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.card {
  background-color: var(--white);
  padding: 1em;
  margin: 1.25em 1.5em;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__container {
  display: flex;
  justify-content: space-between;
}

.card__container__text__title {
  color: var(--orange);
  font-weight: 700;
  margin-top: 0.5em;
}

.card__container__text__book {
  font-size: 18px;
  color: #002f52;
  font-weight: 700;
  margin: 0.8em 0;
}

.card__container__text__description {
  font-size: 14px;
  font-weight: 400;
  width: 12em;
}

.card__container__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.card__container__buttons__list {
  display: flex;
  /* justify-content: space-between; */
}

.card__container__buttons__list__button {
  margin: 0 0.5em;
}

.card__container__buttons__anchor {
  background-color: var(--orange);
  padding: 1em 2.2em;
  color: var(--white);
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .carousel__title {
    font-size: 26px;
    padding-top: 2em;
  }

  .swiper-pagination {
    margin: 2em;
  }

  .swiper {
    width: 80%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    width: 40%;
    margin: 2em auto;
  }
}

@media screen and (min-width: 1728px) {
  .carousel__container {
    display: flex;
    margin: 0 20vw 3em 20vw;
    align-items: center;
  }

  .swiper {
    width: 50%;
  }

  .swiper-pagination {
    margin: 1em 0;
  }

  .card {
    width: 60%;
    margin-left: 3em;
  }

  .card__container__text__title {
    font-size: 32px;
    font-weight: 700;
  }

  .card__container__text__description {
    font-size: 16px;
  }
}
